extends layout
block content
	a(href="/") Home
	br			
	a(href="/addfriends") Add Friends
	br
	a(href="/editprofile") Edit My Profile 
	br
	a(href="/friendrequests") Pending Friend Requests
	br
	a(href="/tripinvites") Trip Invites
	br		
	a(href="/logout") Logout

	h1 Plan a Trip! 
	form(method='post')
		p
			label(for='locationname') Where do you wanna go? 
			input(type='text', name='locationname')
		p
			label(for="triptype") Is this a real trip?
			input(type='radio', name='planid', checked=type=="dream",value=1)
		p
			label(for"triptype") Or a dream trip?
			input(type='radio', name='planid', checked=type=="real", value=0) 

		p
			label(for='locationtype') Type of Location? 
			input(type='text', name='locationtype')

		p
			label(for='privacycontent') Public 
			input(type='radio', name='privacycontent', checked=privacy=="public", value='public')
		p
			label(for='privacycontent') Private
			input(type='radio', name='privacycontent',  checked=privacy=="real", value='private')			
		input(type='submit')

	h2 Some place that your friends have been:
	ul 
		each t in trips 
			li= t