extends layout
block content
	a(href="/") Home			
	a(href='/myprofile') MyProfile	
	a(href="/addfriends") Add Friends
	a(href="/friendrequests") Pending Friend Requests
	a(href="/logout") Logout

	h1 Edit My Profile
		p
			Username: #{username}

	form(method='post')
		p
			label(for='name') Name:
			input(type='text', name='name', value="#{name}")
		p
			label(for='email') Email:
			input(type='text', name='email', value="#{email}")
		p
			label(for='affiliation') Affiliation:
			input(type='text', name='affiliation', value="#{affiliation}")
		p
			label(for='interests') Interests:
			input(type='text', name='interests', value="#{interests}")
		input(type='submit')