extends layout
block content
	a(href="/") Home
	br			
	a(href="/addfriends") Add Friends
	br
	a(href="/editprofile") Edit My Profile 
	br
	a(href="/friendrequests") Pending Friend Requests
	br
	a(href="/respondtripreq") Respond to Trip Requests
	br
	a(href="/createtrip") Create a new trip!
	br
	a(href="/tripinvites") Trip Invites
	br		
	a(href="/search") Search
	br
	a(href="/logout") Logout


	h1 Respond to Trip Invites

	p #{message}
	ul 
		each t, index in trips
			li= t
			p= friends[index]
			form(method='post')
				p Request to be on your friends trips
				input(type='hidden', name='trip', value=t)
				input(type='hidden', name='owner', value=f)
				input(type='submit')