extends layout
block content
	a(href="/") Home
	br			
	a(href="/addfriends") Add Friends
	br
	a(href="/editprofile") Edit My Profile 
	br
	a(href="/friendrequests") Pending Friend Requests
	br
	a(href="/logout") Logout


	h1 My Profile
	if currUser.signed_in
		p Welcome #{currUser.username}

		p
			a(href="/editprofile") edit my profile

		p 	Username: #{username}
		p 	Name: #{name}
		p 	Affiliation: #{affiliation}
		p 	Email: #{email}
		p 	Interest: #{interests}
	h1 News Feed
	ul
		each val in friends
			li=val.id
			each t in val.trips
				li=t.trip
				each p in t.pics
					img(src=p)=p
