extends layout
block content
	a(href="/") Home			
	a(href="/myprofile") My Profile
	a(href="/addfriends") Add Friends
	a(href="/friendrequests") Pending Friend Requests

	h1 My Profile
	if currUser.signed_up
		p Welcome #{currUser.username}

		p
			a(href="/editprofile") edit my profile

		p 	Username: #{username}
		p 	Name: #{name}
		p 	Affiliation: #{affiliation}
		p 	Email: #{email}
		p 	Interest: #{interests}
